{% extends "base.html" %}
{% block contenido %}
<h3>Antenas Registradas</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Frecuencia</th>
            <th>Potencia</th>
            <th>Proveedor</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for a in antenas %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.nombre }}</td>
            <td>{{ a.ubicacion }}</td>
            <td>{{ a.frecuencia }}</td>
            <td>{{ a.potencia }}</td>
            <td>{{ a.proveedor }}</td>
            <td>{{ a.fecha_registro }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
